rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAdmin(userId) {
      return get(/databases/$(database)/documents/userProfiles/$(userId)).data.role == 'admin';
    }

    match /users/{userId} {
      allow read, write: if false;
    }

    match /userProfiles/{userId} {
      allow read: if true;

      allow create: if request.auth.uid == userId;

      allow update: if request.auth.uid == userId
        && request.resource.data.points == resource.data.points
        && request.resource.data.winCount == resource.data.winCount
        && request.resource.data.totalParticipation == resource.data.totalParticipation
        && request.resource.data.role == resource.data.role
        && request.resource.data.isBanned == resource.data.isBanned;
    }

    match /quizzes/{quizDocId}/quizzes/{quizId} {

      allow get, list: if true;

      allow update: if request.auth != null && (
        // admin은 모든 필드 수정 가능
        isUserAdmin(request.auth.uid)
        ||
        // 일반 유저는 vote만 수정 가능
        request.resource.data.diff(resource.data)
          .affectedKeys()
          .hasOnly(['vote'])
      );

      match /userVotes/{userId} {
        allow read, write: if request.auth.uid == userId;
      }
    }
  }
}